/* main calculator body */

.calculator {
    margin: auto;
    margin-top: 100px;
    height: 500px;
    width: 330px;
    outline: 3px solid lightgrey;
    display: flex;
    flex-direction: column;
    gap: 0;
}

/* results */

.results {
    height: 40%;
    display: flex;
    flex-direction: column-reverse;

}

.resultRow {
    height: 38px;
    width: 330px;
}

.resultAnswer {
    color: rgb(36, 34, 34);
    text-align: end;
    margin: 0;
    padding-top: 10px;
}
/* display */

.display {
    height: 20%;
    outline: 3px solid lightgrey;
}

.input {
    float: right;
    height: 100%;
    margin: auto;
    padding-top: 30px;
}

/* buttons */

.buttons {
    height: 40%;
    margin: 15px 70px 10px 70px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

button {
    height: 35px;
    width: 35px;
}

/* button groups */

.mainButtons,
.operatorButtons,
.sideButtons,
.column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.row.bottom {
    justify-content: flex-start;
}

#backspace,
#clear,
#equals {
    width: auto;
}

#placeholder {
    height: 35px;
}
